<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.codingblocks.ChatBot_And_InterestRanker">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logoapp"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/MyMaterialTheme">

        <activity android:name="com.codingblocks.ChatBot_And_InterestRanker.StudentNamesList" />
        <activity android:name="com.codingblocks.ChatBot_And_InterestRanker.ChatbotFiles.ChatActivity"></activity>

        <activity
            android:name="com.codingblocks.ChatBot_And_InterestRanker.Initial.SplashScreen"
            android:theme="@style/SplashTheme">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity android:name="com.codingblocks.ChatBot_And_InterestRanker.StudentsInterestList" />
        <activity android:name="com.codingblocks.ChatBot_And_InterestRanker.SpeechToText.STT"></activity>
        <activity android:name="com.codingblocks.ChatBot_And_InterestRanker.SpeechToText.SttDisplay"></activity>
        <activity android:name="com.codingblocks.ChatBot_And_InterestRanker.Initial.MainScreen"></activity>
        <activity android:name="com.codingblocks.ChatBot_And_InterestRanker.StudentBatches"></activity>
        <activity android:name="com.codingblocks.ChatBot_And_InterestRanker.GamePart.AnswerActivity"></activity>
        <activity android:name="com.codingblocks.ChatBot_And_InterestRanker.GamePart.GameInitActivity"></activity>
        <activity android:name="com.codingblocks.ChatBot_And_InterestRanker.GamePart.Question"></activity>
        <activity android:name="com.codingblocks.ChatBot_And_InterestRanker.GamePart.QuestionActivity"></activity>


    </application>

</manifest>